* {
  font-family: 'Kalam', cursive;
  font-size: 18px;
}


/* DIV STYLES */

.top {
  width: 90%;
  height: 50%;
  background-image: url(images/dog_background.jpg);
  margin: auto;
}

.top-heading {
  margin: 20px 0;
}

.left {
  background-color: aquamarine;
  border-radius: 5px;
  border: white 2px solid;
}

.right {
  background-color: darksalmon;
  border-radius: 5px;
  border: white 2px solid;
}

.bottom, .bottom-list, .bottom-inverse{
  margin-top: 20px;
  margin-bottom: 20px;
  background-image: linear-gradient(to bottom, aquamarine, darksalmon);
  border-radius: 5px;
  border: white 2px solid;
  text-align: center;
}

.bottom-list {
  margin-top: 5px;
}

.bottom-inverse{
  background-image: linear-gradient(to top, aquamarine, darksalmon);
}

}
.bottom-vid {
  margin-bottom: 20px;
}

.spacing {
  margin: 60px 0;
}

.spacing-p {
  margin: 15px 0;
}

.middle {
  background-color: beige;
  border-radius: 5px;
  border: white 2px solid;
}

.display {
  display: inline-block;
}

/* IMAGE/VIDEO STYLES */

#logo1 {
  width:28px;
  height:28px;
  border-radius: 50%
}

#logo2 {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  margin-top: 120px;
  margin-bottom: -120px;
  border: white solid 5px;
}

.left img, .right  img, .three {
  width: 100%;
  height: 100%;
  border-radius: 2px;
}

.vid {
  width: 100%;
  height: 100%;
}
/* NAV STYLES */

.nav-color {
  background-image: linear-gradient(to right, aquamarine, beige, darksalmon);
  border: white 2px solid;
}

.nav-color2 {
  background-image: linear-gradient(to right, aquamarine, beige, darksalmon);
  border: white 2px solid;
}

.pag-nav, .pag-nav2 {
  text-align: center;
}

.pag-nav2 {
  display: block;
}

.jumbotron {
  text-align: left;
}

.breadcrumb {
  margin: 5px;
}


/* LABEL/BUTTON/INPUT STYLES */

.label-style, .btn-style {
  display: inline-block;
  margin-bottom: 20px;
  padding-top: 10px;
  float: none;
}

.btn-style {
  margin-top: 12px;
}

.active, .btn:hover {
  text-decoration: underline;
}

.textbox, .replybox {
  color: #999;
  background-color: #fafafa;
  font-size: 12px;
  margin: 5px 0px;
  padding: 10px 117px 10px 10px;
  text-overflow: ellipsis;
  border-radius: 4px;
  display: block;
}

.replybox {
  padding: 63px;
}

/* TEXT/FONT STYLES */

h1 {
  text-align: center;
  padding: 30px;
  color: #303235;
  text-shadow: 1px 1px 2px #42bff4;
  position: relative;
  margin-top: 120px;
}

h2 {
  padding: 10px;
  text-shadow: 1px 1px 2px #42bff4;
}

h3, h4 {
  text-align: center;
  text-shadow: 1px 1px 2px #42bff4;
}

.left-text {
  position:relative;
  width: 100%;
  height:70%;
  box-sizing: content-box;
}

.footer-font {
  font-family: Verdana, Geneva, sans-serif;
}

/* MAP STYLES */

.map-container {
overflow:hidden;
padding-bottom:56.25%;
position:relative;
height:0;
}

.map-container iframe {
left:0;
top:0;
height:100%;
width:100%;
position:absolute;
}

/* HOVER STYLES */

#logo1:hover, #logo2:hover, .nav-color:hover, .label-style:hover {
	filter: invert(100%);
}
